@model IEnumerable<FCE_KillCoronaVirus.Models.Atencion>

@{
    ViewData["Title"] = "Atenciones";
}

<h1>Atenciones de Pacientes</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DatAtencion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPacNavigation)
            </th>
            <th>Nombre</th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DatAtencion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPacNavigation.RutPac)
            </td>
                <td>
                @Html.Raw(item.IdPacNavigation.NomPac +" "+ item.IdPacNavigation.ApPaterno+" "+item.IdPacNavigation.ApMaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.NomUsuario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NroAtencion">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NroAtencion">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NroAtencion">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
