@model FCE_KillCoronaVirus.Models.Paciente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Paciente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RutPac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RutPac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomPac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomPac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FecNacPac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FecNacPac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdadPac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdadPac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodSexoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodSexoNavigation.CodSexo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdPac">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
