@model FCE_KillCoronaVirus.Models.Atencion

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>Esta seguro que desea eliminar esta atencion?</h3>
<div>
    <h4>Atencion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatAtencion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatAtencion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaHora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPacNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPacNavigation.IdPac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioNavigation.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="NroAtencion" />
        <input type="submit" value="Borrar" class="btn btn-danger text-white m-4 p-1" /> |
        <a asp-action="Index">Volver al listado</a>
    </form>
</div>
